:root {
  /* --------------------- ORI --------------------- */
  --tri01-ori-polygon: polygon(10% 21.83%, 10.03% 66.02%, 26.51% 49.13%);
  --tri02-ori-polygon: polygon(9.83% 65.75%, 21.93% 73.65%, 18.00% 58.00%);
  --tri03-ori-polygon: polygon(30% 51.93%, 30% 71.03%, 37.91% 74%);
  --tri04-ori-polygon: polygon(39.78% 49.98%, 30% 70.86%, 28.39% 50.06%);
  --tri05-ori-polygon: polygon(10% 21.80%, 26.30% 9.62%, 26.53% 50.10%);
  --tri06-ori-polygon: polygon(57.65% 49.69%, 60.50% 27.45%, 26.55% 50.09%);
  --tri07-ori-polygon: polygon(26.53% 50.08%, 60.48% 27.47%, 26.30% 9.62%);
  --tri08-ori-polygon: polygon(60.50% 27.47%, 57.66% 49.73%, 72.06% 53.80%);
  --tri09-ori-polygon: polygon(72.15% 53.79%, 86.11% 56.73%, 77.15% 49.33%);
  --tri10-ori-polygon: polygon(72.13% 53.72%, 60.51% 27.48%, 85.87% 41.62%);
  --tri11-ori-polygon: polygon(94.21% 48.29%, 87.10% 41.03%, 99.91% 35.33%);
  --tri12-ori-polygon: polygon(95.32% 29.50%, 91.5% 23.58%, 97.89% 21.64%);
  --tri13-ori-polygon: polygon(86.26% 56.69%, 91.71% 55.29%, 86.63% 42.18%);
  --tri14-ori-polygon: polygon(91.45% 22.69%, 76.95% 24.89%, 86.75% 42.23%);
  --tri15-ori-polygon: polygon(77.24% 49.29%, 86.25% 56.71%, 86.09% 41.62%);
  --tri16-ori-polygon: polygon(87.08% 41.08%, 94.20% 48.27%, 91.73% 55.28%);
  --tri17-ori-polygon: polygon(90.73% 51.42%, 86.46% 51.87%, 88.91% 54.45%);
  --tri18-ori-polygon: polygon(76.91% 24.90%, 60.49% 27.46%, 86.15% 41.62%);
  --tri19-ori-polygon: polygon(60.49% 27.46%, 26.32% 9.63%, 74.91% 13.01%);
  --tri20-ori-polygon: polygon(91.31% 22.62%, 99.91% 35.32%, 87.13% 41.01%);
  --tri21-ori-polygon: polygon(65.66% 70.08%, 57.64% 49.74%, 65.99% 51.90%);
  --tri22-ori-polygon: polygon(65.68% 70.16%, 71.73% 69.50%, 65.85% 58.59%);
  --tri23-ori-polygon: polygon(50.98% 77.34%, 51.77% 49.65%, 43.51% 49.60%);
  --tri24-ori-polygon: polygon(58.04% 76.07%, 51.49% 59.83%, 50.99% 77.37%);
  --tri25-ori-polygon: polygon(79.71% 36.47%, 74.64% 43.35%, 80.76% 49.78%);
  --tri26-ori-polygon: polygon(80.60% 49.70%, 86.02% 41.80%, 79.60% 36.53%);
  --tri27-ori-polygon: polygon(79.21% 44.10%, 80.03% 41.18%, 81.68% 43.61%);
  --tri28-ori-polygon: polygon(91.69% 34.83%, 87.50% 40.99%, 92.56% 46.76%);
  --tri29-ori-polygon: polygon(92.35% 46.68%, 97.65% 39.88%, 91.70% 34.69%);
  --tri30-ori-polygon: polygon(91.33% 42.39%, 92.01% 39.26%, 93.99% 41.63%);
  --tri31-ori-polygon: polygon(74.91% 13.01%, 91.63% 22.64%, 60% 27.83%);
  --tri32-ori-polygon: polygon(67.07% 35.71%, 62.03% 26.21%, 69.60% 28.82%);
  
  --tri01-ori-bg: #ecad72;
  --tri02-ori-bg: #deac81;
  --tri03-ori-bg: #e5b784;
  --tri04-ori-bg: #af6e3d;
  --tri05-ori-bg: #ca9d7b;
  --tri06-ori-bg: #cc966b;
  --tri07-ori-bg: #f6a762;
  --tri08-ori-bg: #e8a364;
  --tri09-ori-bg: #e7d3b7;
  --tri10-ori-bg: #edcfa8;
  --tri11-ori-bg: #edcfa8;
  --tri12-ori-bg: #9e8972;
  --tri13-ori-bg: #f2f2f2;
  --tri14-ori-bg: #ecd4a7;
  --tri15-ori-bg: #f5eddc;
  --tri16-ori-bg: #ebe7d6;
  --tri17-ori-bg: #493e46;
  --tri18-ori-bg: #cc966b;
  --tri19-ori-bg: #e7a670;
  --tri20-ori-bg: #cc966b;
  --tri21-ori-bg: #ac7c5a;
  --tri22-ori-bg: #bd987c;
  --tri23-ori-bg: #b77551;
  --tri24-ori-bg: #da985f;
  --tri25-ori-bg: #523121;
  --tri26-ori-bg: #493e46;
  --tri27-ori-bg: #291e15;
  --tri28-ori-bg: #523121;
  --tri29-ori-bg: #493e46;
  --tri30-ori-bg: #291e15;
  --tri31-ori-bg: #cc9f6b;
  --tri32-ori-bg: #9e8972;

  /* --------------------- NES --------------------- */
  --tri01-nes-polygon: polygon(42.5% 18%, 33.75% 33%, 61.25% 27.9%);
  --tri02-nes-polygon: polygon(66.25% 18%, 38.75% 32%, 75% 32%);
  --tri03-nes-polygon: polygon(33.75% 43.5%, 75% 43.5%, 55% 25%);
  --tri04-nes-polygon: polygon(66.25% 43.5%, 80% 33.7%, 60.75% 27%);
  --tri05-nes-polygon: polygon(33.75% 33%, 48.75% 45%, 57.5% 25%);
  --tri06-nes-polygon: polygon(60.75% 45%, 75% 32%, 55% 25%);
  --tri07-nes-polygon: polygon(60.75% 45%, 68.25% 45%, 66.25% 40%);
  --tri08-nes-polygon: polygon(40.5% 45%, 42.25% 40%, 48.75% 45%);
  --tri09-nes-polygon: polygon(13.75% 26.5%, 15% 33%, 27.5% 23.5%);
  --tri10-nes-polygon: polygon(15% 33%, 31.25% 31%, 27.5% 23.5%);
  --tri11-nes-polygon: polygon(15% 33%, 31.25% 31%, 27.5% 39%);
  --tri12-nes-polygon: polygon(43.75% 41%, 31.25% 31%, 27.5% 39%);
  --tri13-nes-polygon: polygon(33.75% 10%, 52% 10%, 36.25% 3%);
  --tri14-nes-polygon: polygon(33.75% 10%, 52% 10%, 38.75% 16%);
  --tri15-nes-polygon: polygon(56.25% 10%, 74.25% 10%, 72.5% 3%);
  --tri16-nes-polygon: polygon(56.25% 10%, 74.25% 10%, 70% 16%);
  --tri17-nes-polygon: polygon(33.75% 16%, 54.25% 9%, 75% 16%);
  --tri18-nes-polygon: polygon(33.75% 16%, 54.25% 24%, 75% 16%);
  --tri19-nes-polygon: polygon(43.75% 23%, 54.25% 40%, 65% 23%);
  --tri20-nes-polygon: polygon(42.5% 16%, 47.5% 18%, 47.5% 16%);
  --tri21-nes-polygon: polygon(61.25% 16%, 61.25% 18%, 66.25% 16%);
  --tri22-nes-polygon: polygon(51.25% 19%, 52.5% 20%, 53.75% 19%);

  --tri01-nes-bg: #e3b06b;
  --tri02-nes-bg: #e3b06b;
  --tri03-nes-bg: #e3b06b;
  --tri04-nes-bg: #e3b06b;
  --tri05-nes-bg: #f4dcb1;
  --tri06-nes-bg: #f4dcb1;
  --tri07-nes-bg: #c58c40;
  --tri08-nes-bg: #c58c40;
  --tri09-nes-bg: #f4dcb1;
  --tri10-nes-bg: #f4dcb1;
  --tri11-nes-bg: #f4dcb1;
  --tri12-nes-bg: #f4dcb1;
  --tri13-nes-bg: #c58c40;
  --tri14-nes-bg: #c58c40;
  --tri15-nes-bg: #c58c40;
  --tri16-nes-bg: #c58c40;
  --tri17-nes-bg: #c58c40;
  --tri18-nes-bg: #c58c40;
  --tri19-nes-bg: #eee3d3;
  --tri20-nes-bg: #7c5c28;
  --tri21-nes-bg: #58432b;
  --tri22-nes-bg: #7a6c53;

  /* --------------------- MAKS --------------------- */
  --tri01-maks-polygon: polygon(50% 50%, 30% 37.5%, 10% 45%);
  --tri02-maks-polygon: polygon(30% 37.5%, 10% 45%, 16% 62.5%);
  --tri03-maks-polygon: polygon(50% 50%, 30% 37.5%, 36% 70%);
  --tri04-maks-polygon: polygon(36% 70%, 30% 37.5%, 16% 62.5%);
  --tri05-maks-polygon: polygon(10% 45%, 4% 55%, 16% 62.5%);
  --tri06-maks-polygon: polygon(16% 62.5%, 26% 75%, 36% 70%);
  --tri07-maks-polygon: polygon(26% 75%, 36% 70%, 46% 77.5%);
  --tri08-maks-polygon: polygon(50% 37.5%, 46% 45%, 54% 45%);
  --tri09-maks-polygon: polygon(46% 45%, 54% 45%, 50% 80%);
  --tri10-maks-polygon: polygon(46% 35%, 47% 42.5%, 50% 40%);
  --tri11-maks-polygon: polygon(54% 35%, 53% 42.5%, 50% 40%);
  --tri12-maks-polygon: polygon(46% 55%, 42% 62.5%, 50% 65%);
  --tri13-maks-polygon: polygon(54% 55%, 58% 62.5%, 50% 65%);
  --tri14-maks-polygon: polygon(50% 50%, 70% 37.5%, 90% 45%);
  --tri15-maks-polygon: polygon(70% 37.5%, 90% 45%, 84% 62.5%);
  --tri16-maks-polygon: polygon(50% 50%, 70% 37.5%, 64% 70%);
  --tri17-maks-polygon: polygon(64% 70%, 70% 37.5%, 84% 62.5%);
  --tri18-maks-polygon: polygon(90% 45%, 96% 55%, 84% 62.5%);
  --tri19-maks-polygon: polygon(84% 62.5%, 74% 75%, 64% 70%);
  --tri20-maks-polygon: polygon(74% 75%, 64% 70%, 54% 77.5%);
  --tri21-maks-polygon: polygon(30% 37.5%, 46% 45%, 50% 50%);
  --tri22-maks-polygon: polygon(70% 37.5%, 54% 45%, 50% 50%);
  --tri23-maks-polygon: polygon(46% 77.5%, 50% 85%, 54% 77.5%);
  --tri24-maks-polygon: polygon(10% 45%, 20% 40%, 30% 37.5%);
  --tri25-maks-polygon: polygon(90% 45%, 80% 40%, 70% 37.5%);
  --tri26-maks-polygon: polygon(36% 70%, 46% 55%, 46% 77.5%);
  --tri27-maks-polygon: polygon(64% 70%, 54% 55%, 54% 77.5%);
  --tri28-maks-polygon: polygon(4% 55%, 8% 65%, 16% 62.5%);
  --tri29-maks-polygon: polygon(96% 55%, 92% 65%, 84% 62.5%);
  
  --tri01-maks-bg: #4B3B5B;
  --tri02-maks-bg: #333333;
  --tri03-maks-bg: #7A6A8A;
  --tri04-maks-bg: #E0E0E0;
  --tri05-maks-bg: #222222;
  --tri06-maks-bg: #333333;
  --tri07-maks-bg: #4B3B5B;
  --tri08-maks-bg: #222222;
  --tri09-maks-bg: #333333;
  --tri10-maks-bg: #4B3B5B;
  --tri11-maks-bg: #4B3B5B;
  --tri12-maks-bg: #7A6A8A;
  --tri13-maks-bg: #7A6A8A;
  --tri14-maks-bg: #4B3B5B;
  --tri15-maks-bg: #333333;
  --tri16-maks-bg: #7A6A8A;
  --tri17-maks-bg: #E0E0E0;
  --tri18-maks-bg: #222222;
  --tri19-maks-bg: #333333;
  --tri20-maks-bg: #4B3B5B;
  --tri21-maks-bg: #222222;
  --tri22-maks-bg: #222222;
  --tri23-maks-bg: #111111;
  --tri24-maks-bg: #7A6A8A;
  --tri25-maks-bg: #7A6A8A;
  --tri26-maks-bg: #333333;
  --tri27-maks-bg: #333333;
  --tri28-maks-bg: #4B3B5B;
  --tri29-maks-bg: #4B3B5B;

  /* Faro */
  --tri00-faro-polygon: polygon(55% 95%, 70% 45%, 62.5% 95%);
  --tri01-faro-polygon: polygon(70% 45%, 80% 42.5%, 62.5% 95%);
  --tri02-faro-polygon: polygon(70% 55%, 87.5% 52.5%, 80% 60%);
  --tri03-faro-polygon: polygon(70% 55%, 80% 60%, 70% 60%);
  --tri04-faro-polygon: polygon(87.5% 52.5%, 92.5% 45%, 85% 47.5%);
  --tri05-faro-polygon: polygon(80% 60%, 90% 62.5%, 85% 67.5%);
  --tri06-faro-polygon: polygon(37.5% 45%, 25% 70%, 42.5% 90%);
  --tri07-faro-polygon: polygon(42.5% 90%, 62.5% 85%, 55% 70%);
  --tri08-faro-polygon: polygon(42.5% 90%, 42.5% 70%, 55% 70%);
  --tri09-faro-polygon: polygon(45% 42.5%, 60% 55%, 50% 85%);
  --tri10-faro-polygon: polygon(45% 42.5%, 37.5% 62.5%, 50% 85%);
  --tri11-faro-polygon: polygon(50% 15%, 35% 30%, 50% 45%);
  --tri12-faro-polygon: polygon(50% 15%, 65% 30%, 50% 45%);
  --tri13-faro-polygon: polygon(35% 30%, 45% 42.5%, 50% 42.5%);
  --tri14-faro-polygon: polygon(65% 30%, 55% 42.5%, 50% 42.5%);
  --tri15-faro-polygon: polygon(35% 30%, 25% 32.5%, 27.5% 22.5%);
  --tri16-faro-polygon: polygon(27.5% 22.5%, 32.5% 15%, 40% 20%);
  --tri17-faro-polygon: polygon(25% 32.5%, 20% 25%, 27.5% 22.5%);
  --tri18-faro-polygon: polygon(65% 30%, 75% 32.5%, 72.5% 22.5%);
  --tri19-faro-polygon: polygon(72.5% 22.5%, 67.5% 15%, 60% 20%);
  --tri20-faro-polygon: polygon(75% 32.5%, 80% 25%, 72.5% 22.5%);
  --tri21-faro-polygon: polygon(37.5% 45%, 62.5% 55%, 65% 62.5%);
  --tri22-faro-polygon: polygon(62.5% 55%, 70% 60%, 65% 65%);
  --tri23-faro-polygon: polygon(45% 62.5%, 62.5% 72.5%, 67.5% 77.5%);
  --tri24-faro-polygon: polygon(50% 32.5%, 46.25% 36.25%, 50% 43.75%);
  --tri25-faro-polygon: polygon(50% 32.5%, 53.75% 36.25%, 50% 43.75%);
  --tri26-faro-polygon: polygon(40% 31.25%, 45% 31.25%, 42.5% 36.25%);
  --tri27-faro-polygon: polygon(55% 31.25%, 60% 31.25%, 57.5% 36.25%);
  --tri28-faro-polygon: polygon(50% 85%, 57.5% 87.5%, 53.75% 88.75%);
  --tri29-faro-polygon: polygon(53.75% 88.75%, 52.5% 90%, 50% 85%);

  --tri00-faro-bg: #8d6e63;
  --tri01-faro-bg: #8d6e63;
  --tri02-faro-bg: #8d6e63;
  --tri03-faro-bg: #8d6e63;
  --tri04-faro-bg: #81c784;
  --tri05-faro-bg: #81c784;
  --tri06-faro-bg: #78909c;
  --tri07-faro-bg: #546e7a;
  --tri08-faro-bg: #78909c;
  --tri09-faro-bg: #eceff1;
  --tri10-faro-bg: #cfd8dc;
  --tri11-faro-bg: #90a4ae;
  --tri12-faro-bg: #b0bec5;
  --tri13-faro-bg: #90a4ae;
  --tri14-faro-bg: #b0bec5;
  --tri15-faro-bg: #78909c;
  --tri16-faro-bg: #b0bec5;
  --tri17-faro-bg: #cfd8dc;
  --tri18-faro-bg: #78909c;
  --tri19-faro-bg: #b0bec5;
  --tri20-faro-bg: #cfd8dc;
  --tri21-faro-bg: #78909c;
  --tri22-faro-bg: #546e7a;
  --tri23-faro-bg: #78909c;
  --tri24-faro-bg: #263238;
  --tri25-faro-bg: #37474f;
  --tri26-faro-bg: #263238;
  --tri27-faro-bg: #263238;
  --tri28-faro-bg: #90a4ae;
  --tri29-faro-bg: #90a4ae;

  /* Uriol */
  --tri01-uriol-polygon: polygon(50% 31.43%, 40% 50%, 60% 50%);
  --tri02-uriol-polygon: polygon(50% 31.43%, 40% 50%, 32% 42.86%);
  --tri03-uriol-polygon: polygon(50% 31.43%, 60% 50%, 68% 42.86%);
  --tri04-uriol-polygon: polygon(40% 50%, 50% 71.43%, 60% 50%);
  --tri05-uriol-polygon: polygon(40% 50%, 36% 64.29%, 50% 71.43%);
  --tri06-uriol-polygon: polygon(60% 50%, 64% 64.29%, 50% 71.43%);
  --tri07-uriol-polygon: polygon(50% 71.43%, 40% 82.86%, 60% 82.86%);
  --tri08-uriol-polygon: polygon(50% 7.14%, 64% 14.29%, 50% 21.43%);
  --tri09-uriol-polygon: polygon(50% 7.14%, 36% 14.29%, 50% 21.43%);
  --tri10-uriol-polygon: polygon(36% 14.29%, 30% 25.71%, 50% 21.43%);
  --tri11-uriol-polygon: polygon(64% 14.29%, 70% 25.71%, 50% 21.43%);
  --tri12-uriol-polygon: polygon(50% 21.43%, 36% 25.71%, 44% 31.43%);
  --tri13-uriol-polygon: polygon(50% 21.43%, 64% 25.71%, 56% 31.43%);
  --tri14-uriol-polygon: polygon(36% 25.71%, 30% 25.71%, 44% 31.43%);
  --tri15-uriol-polygon: polygon(64% 25.71%, 70% 25.71%, 56% 31.43%);
  --tri16-uriol-polygon: polygon(42% 26.43%, 45% 24.29%, 47% 27.86%);
  --tri17-uriol-polygon: polygon(58% 26.43%, 55% 24.29%, 53% 27.86%);
  --tri18-uriol-polygon: polygon(50% 25.71%, 46% 27.86%, 54% 27.86%);
  --tri19-uriol-polygon: polygon(50% 31.43%, 46% 27.86%, 54% 27.86%);
  --tri20-uriol-polygon: polygon(30% 25.71%, 20% 50%, 32% 42.86%);
  --tri21-uriol-polygon: polygon(70% 25.71%, 80% 50%, 68% 42.86%);
  --tri22-uriol-polygon: polygon(32% 42.86%, 20% 50%, 36% 64.29%);
  --tri23-uriol-polygon: polygon(68% 42.86%, 80% 50%, 64% 64.29%);
  --tri24-uriol-polygon: polygon(20% 50%, 16% 68.57%, 36% 64.29%);
  --tri25-uriol-polygon: polygon(80% 50%, 84% 68.57%, 64% 64.29%);
  --tri26-uriol-polygon: polygon(36% 64.29%, 50% 71.43%, 40% 82.86%);
  --tri27-uriol-polygon: polygon(64% 64.29%, 50% 71.43%, 60% 82.86%);
  --tri28-uriol-polygon: polygon(40% 82.86%, 32% 92.86%, 44% 92.86%);
  --tri29-uriol-polygon: polygon(40% 82.86%, 44% 92.86%, 48% 88.57%);
  --tri30-uriol-polygon: polygon(60% 82.86%, 68% 92.86%, 56% 92.86%);
  --tri31-uriol-polygon: polygon(60% 82.86%, 56% 92.86%, 52% 88.57%);

  --tri01-uriol-bg: #ffffff;
  --tri02-uriol-bg: #f2f2f2;
  --tri03-uriol-bg: #f2f2f2;
  --tri04-uriol-bg: #e6e6e6;
  --tri05-uriol-bg: #d9d9d9;
  --tri06-uriol-bg: #d9d9d9;
  --tri07-uriol-bg: #222222;
  --tri08-uriol-bg: #1a1a1a;
  --tri09-uriol-bg: #222222;
  --tri10-uriol-bg: #0d0d0d;
  --tri11-uriol-bg: #0d0d0d;
  --tri12-uriol-bg: #f2f2f2;
  --tri13-uriol-bg: #e6e6e6;
  --tri14-uriol-bg: #d9d9d9;
  --tri15-uriol-bg: #d9d9d9;
  --tri16-uriol-bg: #000000;
  --tri17-uriol-bg: #000000;
  --tri18-uriol-bg: #ff9900;
  --tri19-uriol-bg: #e68a00;
  --tri20-uriol-bg: #1a1a1a;
  --tri21-uriol-bg: #1a1a1a;
  --tri22-uriol-bg: #262626;
  --tri23-uriol-bg: #262626;
  --tri24-uriol-bg: #000000;
  --tri25-uriol-bg: #000000;
  --tri26-uriol-bg: #1a1a1a;
  --tri27-uriol-bg: #1a1a1a;
  --tri28-uriol-bg: #4d4d4d;
  --tri29-uriol-bg: #666666;
  --tri30-uriol-bg: #4d4d4d;
  --tri31-uriol-bg: #666666;
}