:root {
  /* --------------------- ORI --------------------- */
  --tri01-ori-polygon: polygon(10% 31.83%, 10.03% 76.02%, 26.51% 59.13%);
  --tri02-ori-polygon: polygon(9.83% 75.75%, 21.93% 83.65%, 18% 68%);
  --tri03-ori-polygon: polygon(30% 61.93%, 30% 81.03%, 37.91% 84%);
  --tri04-ori-polygon: polygon(39.78% 59.98%, 30% 80.86%, 28.39% 60.06%);
  --tri05-ori-polygon: polygon(10% 31.8%, 26.3% 19.62%, 26.53% 60.1%);
  --tri06-ori-polygon: polygon(57.65% 59.69%, 60.5% 37.45%, 26.55% 60.09%);
  --tri07-ori-polygon: polygon(26.53% 60.08%, 60.48% 37.47%, 26.3% 19.62%);
  --tri08-ori-polygon: polygon(60.5% 37.47%, 57.66% 59.73%, 72.06% 63.8%);
  --tri09-ori-polygon: polygon(72.15% 63.79%, 86.11% 66.73%, 77.15% 59.33%);
  --tri10-ori-polygon: polygon(72.13% 63.72%, 60.51% 37.48%, 85.87% 51.62%);
  --tri11-ori-polygon: polygon(94.21% 58.29%, 87.1% 51.03%, 99.91% 45.33%);
  --tri12-ori-polygon: polygon(95.32% 39.5%, 91.5% 33.58%, 97.89% 31.64%);
  --tri13-ori-polygon: polygon(86.26% 66.69%, 91.71% 65.29%, 86.63% 52.18%);
  --tri14-ori-polygon: polygon(91.45% 32.69%, 76.95% 34.89%, 86.75% 52.23%);
  --tri15-ori-polygon: polygon(77.24% 59.29%, 86.25% 66.71%, 86.09% 51.62%);
  --tri16-ori-polygon: polygon(87.08% 51.08%, 94.2% 58.27%, 91.73% 65.28%);
  --tri17-ori-polygon: polygon(90.73% 61.42%, 86.46% 61.87%, 88.91% 64.45%);
  --tri18-ori-polygon: polygon(76.91% 34.9%, 60.49% 37.46%, 86.15% 51.62%);
  --tri19-ori-polygon: polygon(60.49% 37.46%, 26.32% 19.63%, 74.91% 23.01%);
  --tri20-ori-polygon: polygon(91.31% 32.62%, 99.91% 45.32%, 87.13% 51.01%);
  --tri21-ori-polygon: polygon(65.66% 80.08%, 57.64% 59.74%, 65.99% 61.9%);
  --tri22-ori-polygon: polygon(65.68% 80.16%, 71.73% 79.5%, 65.85% 68.59%);
  --tri23-ori-polygon: polygon(50.98% 87.34%, 51.77% 59.65%, 43.51% 59.6%);
  --tri24-ori-polygon: polygon(58.04% 86.07%, 51.49% 69.83%, 50.99% 87.37%);
  --tri25-ori-polygon: polygon(79.71% 46.47%, 74.64% 53.35%, 80.76% 59.78%);
  --tri26-ori-polygon: polygon(80.6% 59.7%, 86.02% 51.8%, 79.6% 46.53%);
  --tri27-ori-polygon: polygon(79.21% 54.1%, 80.03% 51.18%, 81.68% 53.61%);
  --tri28-ori-polygon: polygon(91.69% 44.83%, 87.5% 50.99%, 92.56% 56.76%);
  --tri29-ori-polygon: polygon(92.35% 56.68%, 97.65% 49.88%, 91.7% 44.69%);
  --tri30-ori-polygon: polygon(91.33% 52.39%, 92.01% 49.26%, 93.99% 51.63%);
  --tri31-ori-polygon: polygon(74.91% 23.01%, 91.63% 32.64%, 60% 37.83%);
  --tri32-ori-polygon: polygon(67.07% 45.71%, 62.03% 36.21%, 69.6% 38.82%);

  --tri01-ori-bg: #ecad72;
  --tri02-ori-bg: #deac81;
  --tri03-ori-bg: #e5b784;
  --tri04-ori-bg: #af6e3d;
  --tri05-ori-bg: #ca9d7b;
  --tri06-ori-bg: #cc966b;
  --tri07-ori-bg: #f6a762;
  --tri08-ori-bg: #e8a364;
  --tri09-ori-bg: #e7d3b7;
  --tri10-ori-bg: #edcfa8;
  --tri11-ori-bg: #edcfa8;
  --tri12-ori-bg: #9e8972;
  --tri13-ori-bg: #f2f2f2;
  --tri14-ori-bg: #ecd4a7;
  --tri15-ori-bg: #f5eddc;
  --tri16-ori-bg: #ebe7d6;
  --tri17-ori-bg: #493e46;
  --tri18-ori-bg: #cc966b;
  --tri19-ori-bg: #e7a670;
  --tri20-ori-bg: #cc966b;
  --tri21-ori-bg: #ac7c5a;
  --tri22-ori-bg: #bd987c;
  --tri23-ori-bg: #b77551;
  --tri24-ori-bg: #da985f;
  --tri25-ori-bg: #523121;
  --tri26-ori-bg: #493e46;
  --tri27-ori-bg: #291e15;
  --tri28-ori-bg: #523121;
  --tri29-ori-bg: #493e46;
  --tri30-ori-bg: #291e15;
  --tri31-ori-bg: #cc9f6b;
  --tri32-ori-bg: #9e8972;

  /* --------------------- NES  --------------------- */
  /* Polígonos */
  --tri01-nes-polygon: polygon(47.5% 36%, 42.2% 54%, 58.7% 48%);
  --tri02-nes-polygon: polygon(61.7% 36%, 45.2% 52.5%, 67% 52.5%);
  --tri03-nes-polygon: polygon(42.2% 65%, 67% 65%, 55% 45.8%);
  --tri04-nes-polygon: polygon(61.7% 65%, 70% 55%, 58.4% 45.8%);
  --tri05-nes-polygon: polygon(42.2% 54%, 51.2% 67%, 56.5% 45.8%);
  --tri06-nes-polygon: polygon(58.4% 67%, 67% 52.5%, 55% 45.8%);
  --tri07-nes-polygon: polygon(58.4% 67%, 62.9% 67%, 61.7% 61%);
  --tri08-nes-polygon: polygon(46.3% 67%, 47.3% 61%, 51.2% 67%);
  --tri09-nes-polygon: polygon(30.2% 45.8%, 31% 52.5%, 38.5% 43%);
  --tri10-nes-polygon: polygon(31% 52.5%, 40.7% 51%, 38.5% 43%);
  --tri11-nes-polygon: polygon(31% 52.5%, 40.7% 51%, 38.5% 61%);
  --tri12-nes-polygon: polygon(48.2% 62%, 40.7% 51%, 38.5% 61%);
  --tri13-nes-polygon: polygon(42.2% 28%, 53.2% 28%, 43.7% 20%);
  --tri14-nes-polygon: polygon(42.2% 28%, 53.2% 28%, 45.2% 34%);
  --tri15-nes-polygon: polygon(55.7% 28%, 66.5% 28%, 65.5% 20%);
  --tri16-nes-polygon: polygon(55.7% 28%, 66.5% 28%, 64% 34%);
  --tri17-nes-polygon: polygon(42.2% 34%, 54.5% 26%, 67% 34%);
  --tri18-nes-polygon: polygon(42.2% 34%, 54.5% 43.5%, 67% 34%);
  --tri19-nes-polygon: polygon(48.2% 43%, 54.5% 61%, 61% 43%);
  --tri20-nes-polygon: polygon(47.5% 34%, 50.5% 37%, 50.5% 34%);
  --tri21-nes-polygon: polygon(58.7% 34%, 58.7% 37%, 61.7% 34%);
  --tri22-nes-polygon: polygon(52.7% 37.5%, 53.5% 39%, 54.2% 37.5%);
  --tri23-nes-polygon: polygon(45% 27%, 50% 27%, 45.5% 23%);
  --tri24-nes-polygon: polygon(59% 27%, 64% 27%, 63.5% 23%);

  /* Colores */
  --tri01-nes-bg: #d8d5d5;
  --tri02-nes-bg: #cbc9c9;
  --tri03-nes-bg: #c7c7c7;
  --tri04-nes-bg: #bcbcbc;
  --tri05-nes-bg: #d7dee5;
  --tri06-nes-bg: #d7dee5;
  --tri07-nes-bg: #a8b8c8;
  --tri08-nes-bg: #a8b8c8;
  --tri09-nes-bg: #8fa1b3;
  --tri10-nes-bg: #8fa1b3;
  --tri11-nes-bg: #8fa1b3;
  --tri12-nes-bg: #8fa1b3;
  --tri13-nes-bg: #7a8a99;
  --tri14-nes-bg: #7a8a99;
  --tri15-nes-bg: #7a8a99;
  --tri16-nes-bg: #7a8a99;
  --tri17-nes-bg: #a1b1c1;
  --tri18-nes-bg: #a1b1c1;
  --tri19-nes-bg: #f0f0f2;
  --tri20-nes-bg: #2b2b2b;
  --tri21-nes-bg: #2b2b2b;
  --tri22-nes-bg: #989ea8;
  --tri23-nes-bg: #ffffff;
  --tri24-nes-bg: #ffffff;

  /* --------------------- MAKS --------------------- */
  --tri01-maks-polygon: polygon(50% 35%, 30% 22.5%, 10% 30%);
  --tri02-maks-polygon: polygon(30% 22.5%, 10% 30%, 16% 47.5%);
  --tri03-maks-polygon: polygon(50% 35%, 30% 22.5%, 36% 55%);
  --tri04-maks-polygon: polygon(36% 55%, 30% 22.5%, 16% 47.5%);
  --tri05-maks-polygon: polygon(10% 30%, 4% 40%, 16% 47.5%);
  --tri06-maks-polygon: polygon(16% 47.5%, 26% 60%, 36% 55%);
  --tri07-maks-polygon: polygon(26% 60%, 36% 55%, 46% 62.5%);
  --tri08-maks-polygon: polygon(50% 22.5%, 46% 30%, 54% 30%);
  --tri09-maks-polygon: polygon(70% 22.5%, 90% 30%, 84% 47.5%);
  --tri10-maks-polygon: polygon(46% 20%, 47% 27.5%, 50% 25%);
  --tri11-maks-polygon: polygon(54% 20%, 53% 27.5%, 50% 25%);
  --tri12-maks-polygon: polygon(46% 40%, 42% 47.5%, 50% 50%);
  --tri13-maks-polygon: polygon(54% 40%, 58% 47.5%, 50% 50%);
  --tri14-maks-polygon: polygon(50% 35%, 70% 22.5%, 90% 30%);
  --tri15-maks-polygon: polygon(50% 35%, 70% 22.5%, 64% 55%);
  --tri16-maks-polygon: polygon(96% 40%, 92% 50%, 84% 47.5%);
  --tri17-maks-polygon: polygon(64% 55%, 70% 22.5%, 84% 47.5%);
  --tri18-maks-polygon: polygon(90% 30%, 96% 40%, 84% 47.5%);
  --tri19-maks-polygon: polygon(84% 47.5%, 74% 60%, 64% 55%);
  --tri20-maks-polygon: polygon(74% 60%, 64% 55%, 54% 62.5%);
  --tri21-maks-polygon: polygon(30% 22.5%, 46% 30%, 50% 35%);
  --tri22-maks-polygon: polygon(70% 22.5%, 54% 30%, 50% 35%);
  --tri23-maks-polygon: polygon(46% 62.5%, 50% 70%, 54% 62.5%);
  --tri24-maks-polygon: polygon(10% 30%, 20% 25%, 30% 22.5%);
  --tri25-maks-polygon: polygon(90% 30%, 80% 25%, 70% 22.5%);
  --tri26-maks-polygon: polygon(36% 55%, 46% 40%, 46% 62.5%);
  --tri27-maks-polygon: polygon(64% 55%, 54% 40%, 54% 62.5%);
  --tri28-maks-polygon: polygon(4% 40%, 8% 50%, 16% 47.5%);
  --tri29-maks-polygon: polygon(46% 30%, 54% 30%, 50% 65%);

  --tri01-maks-bg: #4b3b5b;
  --tri02-maks-bg: #333333;
  --tri03-maks-bg: #7a6a8a;
  --tri04-maks-bg: #e0e0e0;
  --tri05-maks-bg: #222222;
  --tri06-maks-bg: #333333;
  --tri07-maks-bg: #4b3b5b;
  --tri08-maks-bg: #222222;
  --tri09-maks-bg: #333333;
  --tri10-maks-bg: #4b3b5b;
  --tri11-maks-bg: #4b3b5b;
  --tri12-maks-bg: #7a6a8a;
  --tri13-maks-bg: #7a6a8a;
  --tri14-maks-bg: #4b3b5b;
  --tri15-maks-bg: #7a6a8a;
  --tri16-maks-bg: #4b3b5b;
  --tri17-maks-bg: #e0e0e0;
  --tri18-maks-bg: #222222;
  --tri19-maks-bg: #333333;
  --tri20-maks-bg: #4b3b5b;
  --tri21-maks-bg: #222222;
  --tri22-maks-bg: #222222;
  --tri23-maks-bg: #111111;
  --tri24-maks-bg: #7a6a8a;
  --tri25-maks-bg: #7a6a8a;
  --tri26-maks-bg: #333333;
  --tri27-maks-bg: #333333;
  --tri28-maks-bg: #4b3b5b;
  --tri29-maks-bg: #333333;

  /* --------------------- FARO --------------------- */
  --tri00-faro-polygon: polygon(55% 95%, 70% 45%, 62.5% 95%);
  --tri01-faro-polygon: polygon(70% 45%, 80% 42.5%, 62.5% 95%);
  --tri02-faro-polygon: polygon(70% 55%, 87.5% 52.5%, 80% 60%);
  --tri03-faro-polygon: polygon(70% 55%, 80% 60%, 70% 60%);
  --tri04-faro-polygon: polygon(87.5% 52.5%, 92.5% 45%, 85% 47.5%);
  --tri05-faro-polygon: polygon(80% 60%, 90% 62.5%, 85% 67.5%);
  --tri06-faro-polygon: polygon(37.5% 45%, 25% 70%, 42.5% 90%);
  --tri07-faro-polygon: polygon(42.5% 90%, 62.5% 85%, 55% 70%);
  --tri08-faro-polygon: polygon(42.5% 90%, 42.5% 70%, 55% 70%);
  --tri09-faro-polygon: polygon(45% 42.5%, 60% 55%, 50% 85%);
  --tri10-faro-polygon: polygon(45% 42.5%, 37.5% 62.5%, 50% 85%);
  --tri11-faro-polygon: polygon(50% 15%, 35% 30%, 50% 45%);
  --tri12-faro-polygon: polygon(50% 15%, 65% 30%, 50% 45%);
  --tri13-faro-polygon: polygon(35% 30%, 45% 42.5%, 50% 42.5%);
  --tri14-faro-polygon: polygon(65% 30%, 55% 42.5%, 50% 42.5%);
  --tri15-faro-polygon: polygon(35% 30%, 25% 32.5%, 27.5% 22.5%);
  --tri16-faro-polygon: polygon(27.5% 22.5%, 32.5% 15%, 40% 20%);
  --tri17-faro-polygon: polygon(25% 32.5%, 20% 25%, 27.5% 22.5%);
  --tri18-faro-polygon: polygon(65% 30%, 75% 32.5%, 72.5% 22.5%);
  --tri19-faro-polygon: polygon(72.5% 22.5%, 67.5% 15%, 60% 20%);
  --tri20-faro-polygon: polygon(75% 32.5%, 80% 25%, 72.5% 22.5%);
  --tri21-faro-polygon: polygon(37.5% 45%, 62.5% 55%, 65% 62.5%);
  --tri22-faro-polygon: polygon(62.5% 55%, 70% 60%, 65% 65%);
  --tri23-faro-polygon: polygon(45% 62.5%, 62.5% 72.5%, 67.5% 77.5%);
  --tri24-faro-polygon: polygon(50% 32.5%, 46.25% 36.25%, 50% 43.75%);
  --tri25-faro-polygon: polygon(50% 32.5%, 53.75% 36.25%, 50% 43.75%);
  --tri26-faro-polygon: polygon(40% 31.25%, 45% 31.25%, 42.5% 36.25%);
  --tri27-faro-polygon: polygon(55% 31.25%, 60% 31.25%, 57.5% 36.25%);
  --tri28-faro-polygon: polygon(50% 85%, 57.5% 87.5%, 53.75% 88.75%);
  --tri29-faro-polygon: polygon(53.75% 88.75%, 52.5% 90%, 50% 85%);

  --tri00-faro-bg: #8d6e63;
  --tri01-faro-bg: #8d6e63;
  --tri02-faro-bg: #8d6e63;
  --tri03-faro-bg: #8d6e63;
  --tri04-faro-bg: #81c784;
  --tri05-faro-bg: #81c784;
  --tri06-faro-bg: #78909c;
  --tri07-faro-bg: #546e7a;
  --tri08-faro-bg: #78909c;
  --tri09-faro-bg: #eceff1;
  --tri10-faro-bg: #cfd8dc;
  --tri11-faro-bg: #90a4ae;
  --tri12-faro-bg: #b0bec5;
  --tri13-faro-bg: #90a4ae;
  --tri14-faro-bg: #b0bec5;
  --tri15-faro-bg: #78909c;
  --tri16-faro-bg: #b0bec5;
  --tri17-faro-bg: #cfd8dc;
  --tri18-faro-bg: #78909c;
  --tri19-faro-bg: #b0bec5;
  --tri20-faro-bg: #cfd8dc;
  --tri21-faro-bg: #78909c;
  --tri22-faro-bg: #546e7a;
  --tri23-faro-bg: #78909c;
  --tri24-faro-bg: #263238;
  --tri25-faro-bg: #37474f;
  --tri26-faro-bg: #263238;
  --tri27-faro-bg: #263238;
  --tri28-faro-bg: #90a4ae;
  --tri29-faro-bg: #90a4ae;

  /* --------------------- URIOL --------------------- */
  --tri01-uriol-polygon: polygon(50% 31.43%, 40% 50%, 60% 50%);
  --tri02-uriol-polygon: polygon(50% 31.43%, 40% 50%, 32% 42.86%);
  --tri03-uriol-polygon: polygon(50% 31.43%, 60% 50%, 68% 42.86%);
  --tri04-uriol-polygon: polygon(40% 50%, 50% 71.43%, 60% 50%);
  --tri05-uriol-polygon: polygon(40% 50%, 36% 64.29%, 50% 71.43%);
  --tri06-uriol-polygon: polygon(60% 50%, 64% 64.29%, 50% 71.43%);
  --tri07-uriol-polygon: polygon(50% 71.43%, 40% 82.86%, 60% 82.86%);
  --tri08-uriol-polygon: polygon(50% 7.14%, 64% 14.29%, 50% 21.43%);
  --tri09-uriol-polygon: polygon(50% 7.14%, 36% 14.29%, 50% 21.43%);
  --tri10-uriol-polygon: polygon(36% 14.29%, 30% 25.71%, 50% 21.43%);
  --tri11-uriol-polygon: polygon(64% 14.29%, 70% 25.71%, 50% 21.43%);
  --tri12-uriol-polygon: polygon(50% 21.43%, 36% 25.71%, 44% 31.43%);
  --tri13-uriol-polygon: polygon(50% 21.43%, 64% 25.71%, 56% 31.43%);
  --tri14-uriol-polygon: polygon(36% 25.71%, 30% 25.71%, 44% 31.43%);
  --tri15-uriol-polygon: polygon(64% 25.71%, 70% 25.71%, 56% 31.43%);
  --tri16-uriol-polygon: polygon(42% 26.43%, 45% 24.29%, 47% 27.86%);
  --tri17-uriol-polygon: polygon(58% 26.43%, 55% 24.29%, 53% 27.86%);
  --tri18-uriol-polygon: polygon(50% 25.71%, 46% 27.86%, 54% 27.86%);
  --tri19-uriol-polygon: polygon(50% 31.43%, 46% 27.86%, 54% 27.86%);
  --tri20-uriol-polygon: polygon(30% 25.71%, 20% 50%, 32% 42.86%);
  --tri21-uriol-polygon: polygon(70% 25.71%, 80% 50%, 68% 42.86%);
  --tri22-uriol-polygon: polygon(32% 42.86%, 20% 50%, 36% 64.29%);
  --tri23-uriol-polygon: polygon(68% 42.86%, 80% 50%, 64% 64.29%);
  --tri24-uriol-polygon: polygon(20% 50%, 16% 68.57%, 36% 64.29%);
  --tri25-uriol-polygon: polygon(80% 50%, 84% 68.57%, 64% 64.29%);
  --tri26-uriol-polygon: polygon(36% 64.29%, 50% 71.43%, 40% 82.86%);
  --tri27-uriol-polygon: polygon(64% 64.29%, 50% 71.43%, 60% 82.86%);
  --tri28-uriol-polygon: polygon(40% 82.86%, 32% 92.86%, 44% 92.86%);
  --tri29-uriol-polygon: polygon(40% 82.86%, 44% 92.86%, 48% 88.57%);
  --tri30-uriol-polygon: polygon(60% 82.86%, 68% 92.86%, 56% 92.86%);
  --tri31-uriol-polygon: polygon(60% 82.86%, 56% 92.86%, 52% 88.57%);

  --tri01-uriol-bg: #ffffff;
  --tri02-uriol-bg: #f2f2f2;
  --tri03-uriol-bg: #f2f2f2;
  --tri04-uriol-bg: #e6e6e6;
  --tri05-uriol-bg: #d9d9d9;
  --tri06-uriol-bg: #d9d9d9;
  --tri07-uriol-bg: #222222;
  --tri08-uriol-bg: #1a1a1a;
  --tri09-uriol-bg: #222222;
  --tri10-uriol-bg: #0d0d0d;
  --tri11-uriol-bg: #0d0d0d;
  --tri12-uriol-bg: #f2f2f2;
  --tri13-uriol-bg: #e6e6e6;
  --tri14-uriol-bg: #d9d9d9;
  --tri15-uriol-bg: #d9d9d9;
  --tri16-uriol-bg: #000000;
  --tri17-uriol-bg: #000000;
  --tri18-uriol-bg: #ff9900;
  --tri19-uriol-bg: #e68a00;
  --tri20-uriol-bg: #1a1a1a;
  --tri21-uriol-bg: #1a1a1a;
  --tri22-uriol-bg: #262626;
  --tri23-uriol-bg: #262626;
  --tri24-uriol-bg: #000000;
  --tri25-uriol-bg: #000000;
  --tri26-uriol-bg: #1a1a1a;
  --tri27-uriol-bg: #1a1a1a;
  --tri28-uriol-bg: #4d4d4d;
  --tri29-uriol-bg: #666666;
  --tri30-uriol-bg: #4d4d4d;
  --tri31-uriol-bg: #666666;

  /* ------------ EZQUERRA ------------- */
  --tri01-ezq-polygon: polygon(38.43% 71.50%, 33.27% 78.81%, 32.11% 60.47%);
  --tri01-ezq-bg: #ff8080;
  --tri02-ezq-polygon: polygon(27.04% 93.72%, 28.50% 70.51%, 23.05% 88.10%);
  --tri02-ezq-bg: #000000;
  --tri03-ezq-polygon: polygon(37.09% 89.31%, 28.25% 70.51%, 34.22% 74.88%);
  --tri03-ezq-bg: #4d4d4d;
  --tri04-ezq-polygon: polygon(26.89% 93.80%, 32.59% 93.30%, 28.37% 72.24%);
  --tri04-ezq-bg: #1a1a1a;
  --tri05-ezq-polygon: polygon(37.05% 89.10%, 32.50% 93.38%, 27.85% 69.62%);
  --tri05-ezq-bg: #333333;
  --tri06-ezq-polygon: polygon(42.93% 56.03%, 44.02% 24.92%, 27.23% 53.21%);
  --tri06-ezq-bg: #28170b;
  --tri07-ezq-polygon: polygon(50.25% 40.09%, 42.50% 52.73%, 50.31% 61.96%);
  --tri07-ezq-bg: #280b0b;
  --tri08-ezq-polygon: polygon(50.31% 61.96%, 42.88% 66.67%, 42.81% 52.73%);
  --tri08-ezq-bg: #2b0000;
  --tri09-ezq-polygon: polygon(92.07% 28.9%, 89.39% 21.66%, 84.77% 17.33%);
  --tri09-ezq-bg: #2b2200;
  --tri10-ezq-polygon: polygon(84.70% 16.93%, 77.57% 14.00%, 92.13% 29.03%);
  --tri10-ezq-bg: #241f1c;
  --tri11-ezq-polygon: polygon(61.59% 42.13%, 50.31% 61.98%, 50.13% 40.46%);
  --tri11-ezq-bg: #241c1c;
  --tri12-ezq-polygon: polygon(61.33% 42.25%, 59.73% 49.81%, 50.93% 60.87%);
  --tri12-ezq-bg: #22241c;
  --tri13-ezq-polygon: polygon(79.93% 26.89%, 61.20% 26.89%, 54.02% 13.13%);
  --tri13-ezq-bg: #ff6600;
  --tri14-ezq-polygon: polygon(77.95% 14.37%, 79.95% 26.44%, 91.67% 28.37%);
  --tri14-ezq-bg: #002b00;
  --tri15-ezq-polygon: polygon(61.56% 42.44%, 58.78% 29.75%, 49.57% 40.43%);
  --tri15-ezq-bg: #e6e6e6;
  --tri16-ezq-polygon: polygon(47.96% 18.59%, 50.19% 40.16%, 58.75% 29.82%);
  --tri16-ezq-bg: #ececec;
  --tri17-ezq-polygon: polygon(33.27% 64.43%, 42.87% 66.67%, 43.24% 52.59%);
  --tri17-ezq-bg: #22280b;
  --tri18-ezq-polygon: polygon(40.06% 31.87%, 40.52% 20.70%, 44.74% 14.21%);
  --tri18-ezq-bg: #241c1c;
  --tri19-ezq-polygon: polygon(33.35% 64.02%, 28.38% 70.51%, 33% 74.09%);
  --tri19-ezq-bg: #ffaaaa;
  --tri20-ezq-polygon: polygon(37.03% 89.24%, 38.65% 70.98%, 33.34% 74.06%);
  --tri20-ezq-bg: #24221c;
  --tri21-ezq-polygon: polygon(42.74% 66.48%, 38.29% 71.38%, 33.25% 64.36%);
  --tri21-ezq-bg: #ff5555;
  --tri22-ezq-polygon: polygon(43.12% 52.79%, 24.77% 74.61%, 27.38% 53.37%);
  --tri22-ezq-bg: #222b00;
  --tri23-ezq-polygon: polygon(27.52% 52.72%, 24.79% 74.60%, 24.79% 63.44%);
  --tri23-ezq-bg: #28220b;
  --tri24-ezq-polygon: polygon(39.90% 32.22%, 29.45% 45.22%, 27.39% 53.05%);
  --tri24-ezq-bg: #241c1c;
  --tri25-ezq-polygon: polygon(51.92% 10.16%, 39.78% 32.84%, 44.71% 14.26%);
  --tri25-ezq-bg: #28170b;
  --tri26-ezq-polygon: polygon(42.75% 52.91%, 50.19% 40.15%, 44.00% 25.16%);
  --tri26-ezq-bg: #17280b;
  --tri27-ezq-polygon: polygon(50.24% 40.08%, 43.91% 25.00%, 47.89% 17.66%);
  --tri27-ezq-bg: #f2f2f2;
  --tri28-ezq-polygon: polygon(62.36% 26.65%, 58.87% 29.98%, 49.43% 20.30%);
  --tri28-ezq-bg: #ffffff;
  --tri29-ezq-polygon: polygon(52.05% 10.29%, 47.59% 18.47%, 52.38% 22.61%);
  --tri29-ezq-bg: #f9f9f9;
  --tri30-ezq-polygon: polygon(61.43% 26.98%, 51.62% 22.39%, 52.03% 10.04%);
  --tri30-ezq-bg: #ffffff;
  --tri31-ezq-polygon: polygon(77.66% 14.00%, 63.32% 10.53%, 79.98% 26.77%);
  --tri31-ezq-bg: #ffff00;
  --tri32-ezq-polygon: polygon(63.57% 10.78%, 55.15% 13.85%, 80.13% 27%);
  --tri32-ezq-bg: #ff2a2a;
  --tri33-ezq-polygon: polygon(50.43% 19.33%, 54.15% 21.69%, 52.05% 16.72%);
  --tri33-ezq-bg: #241c1c;
  --tri34-ezq-polygon: polygon(63.79% 10.75%, 52.05% 10.16%, 54.53% 14.13%);
  --tri34-ezq-bg: #ff0000;
  --tri35-ezq-polygon: polygon(40.39% 31.66%, 35.34% 35.69%, 29.32% 45.41%);
  --tri35-ezq-bg: #241c1c;

  /* Jiménez */
  --tri01-jimenez-polygon: polygon(35.66% 43.53%, 25.98% 46.50%, 29.71% 54.68%);
  --tri01-jimenez-bg: #3e4837;
  --tri02-jimenez-polygon: polygon(35.75% 43.49%, 68.96% 55.39%, 40.05% 55.48%);
  --tri02-jimenez-bg: #5d6c53;
  --tri03-jimenez-polygon: polygon(38.53% 44.51%, 49.51% 44.12%, 44.92% 42.63%);
  --tri03-jimenez-bg: #338000;
  --tri04-jimenez-polygon: polygon(49.54% 44.12%, 68.34% 45.23%, 68.93% 55.40%);
  --tri04-jimenez-bg: #7c916f;
  --tri05-jimenez-polygon: polygon(38.60% 44.51%, 49.60% 44.12%, 69.02% 55.42%);
  --tri05-jimenez-bg: #3e4837;
  --tri06-jimenez-polygon: polygon(68.31% 45.21%, 68.96% 55.44%, 80.52% 48.24%);
  --tri06-jimenez-bg: #5d6c53;
  --tri07-jimenez-polygon: polygon(80.49% 48.26%, 69.02% 55.4%, 91.67% 52.49%);
  --tri07-jimenez-bg: #7c916f;
  --tri08-jimenez-polygon: polygon(91.67% 52.46%, 96.44% 55.35%, 69.08% 55.31%);
  --tri08-jimenez-bg: #338000;
  --tri09-jimenez-polygon: polygon(91.92% 52.60%, 89.44% 50.38%, 85.35% 50.16%);
  --tri09-jimenez-bg: #338000;
  --tri10-jimenez-polygon: polygon(80.42% 48.37%, 85.97% 50.37%, 84.02% 48.32%);
  --tri10-jimenez-bg: #338000;
  --tri11-jimenez-polygon: polygon(80.52% 48.26%, 78.44% 46.31%, 73.42% 46.46%);
  --tri11-jimenez-bg: #338000;
  --tri12-jimenez-polygon: polygon(68.34% 45.28%, 71.97% 44.71%, 73.58% 46.55%);
  --tri12-jimenez-bg: #338000;
  --tri13-jimenez-polygon: polygon(68.38% 45.26%, 63.57% 43.33%, 57.93% 44.69%);
  --tri13-jimenez-bg: #338000;
  --tri14-jimenez-polygon: polygon(49.48% 44.14%, 54.77% 42.69%, 58.31% 44.71%);
  --tri14-jimenez-bg: #338000;
  --tri15-jimenez-polygon: polygon(35.72% 43.48%, 29.71% 54.70%, 40.03% 55.46%);
  --tri15-jimenez-bg: #7c916f;
  --tri16-jimenez-polygon: polygon(27.39% 57.59%, 39.72% 57.61%, 40.21% 55.33%);
  --tri16-jimenez-bg: #447821;
  --tri17-jimenez-polygon: polygon(40.09% 55.42%, 32.47% 54.89%, 27.42% 57.66%);
  --tri17-jimenez-bg: #3e4837;
  --tri18-jimenez-polygon: polygon(54.8% 57.61%, 69.49% 57.59%, 68.87% 55.35%);
  --tri18-jimenez-bg: #3e4837;
  --tri19-jimenez-polygon: polygon(68.87% 55.37%, 57.96% 55.46%, 54.84% 57.66%);
  --tri19-jimenez-bg: #447821;
  --tri20-jimenez-polygon: polygon(16.54% 56.52%, 26.58% 56.49%, 29.77% 54.70%);
  --tri20-jimenez-bg: #5d6c53;
  --tri21-jimenez-polygon: polygon(22.58% 53.49%, 16.54% 56.49%, 29.77% 54.72%);
  --tri21-jimenez-bg: #447821;
  --tri22-jimenez-polygon: polygon(24.2% 48.04%, 26.27% 47.41%, 25.78% 45.39%);
  --tri22-jimenez-bg: #000000;
  --tri23-jimenez-polygon: polygon(21.56% 46.99%, 25.81% 45.45%, 24.26% 48.04%);
  --tri23-jimenez-bg: #000000;
  --tri24-jimenez-polygon: polygon(26.21% 45.34%, 23.2% 45.54%, 21.62% 47.03%);
  --tri24-jimenez-bg: #000000;
  --tri25-jimenez-polygon: polygon(9.64% 51.36%, 29.64% 54.67%, 18.26% 45.48%);
  --tri25-jimenez-bg: #7c916f;
  --tri26-jimenez-polygon: polygon(26.36% 47.09%, 24.14% 48.08%, 29.75% 54.77%);
  --tri26-jimenez-bg: #008000;
  --tri27-jimenez-polygon: polygon(18.90% 45.94%, 24.11% 47.99%, 29.5% 54.5%);
  --tri27-jimenez-bg: #bec8b7;
  --tri28-jimenez-polygon: polygon(18.00% 45.69%, 12% 46.1%, 9.68% 51.36%);
  --tri28-jimenez-bg: #5d6c53;
  --tri29-jimenez-polygon: polygon(11.96% 46.19%, 6.88% 45.66%, 9.68% 51.39%);
  --tri29-jimenez-bg: #bec8b7;
  --tri30-jimenez-polygon: polygon(6.83% 45.54%, 5.21% 48.54%, 9.64% 51.39%);
  --tri30-jimenez-bg: #9dac93;
  --tri31-jimenez-polygon: polygon(21.60% 47.06%, 24.80% 43.93%, 18.23% 45.57%);
  --tri31-jimenez-bg: #225500;
  --tri32-jimenez-polygon: polygon(24.75% 43.96%, 31.06% 45.01%, 23.18% 45.54%);
  --tri32-jimenez-bg: #338000;
  --tri33-jimenez-polygon: polygon(22.48% 43.56%, 18.27% 45.60%, 24.71% 43.96%);
  --tri33-jimenez-bg: #9dac93;
  --tri34-jimenez-polygon: polygon(31.02% 44.98%, 25.72% 45.35%, 25.94% 47.30%);
  --tri34-jimenez-bg: #2d5016;
  --tri35-jimenez-polygon: polygon(6.83% 45.54%, 5.21% 48.54%, 9.64% 51.39%);
  --tri35-jimenez-bg: #9dac93;
}