@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body {
    margin: 0;
    height: calc(100vh * 12);
    background-color: whitesmoke;
    font-family: 'Aldrich', Courier, monospace;
    transition: all 1s ease;
}

.scene {
    max-width: 60vh;
    max-height: 60vh;
    margin: auto;
    position: fixed;
    inset: 0;
}

.tri {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: transparent;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
    transition: all 1s ease-in-out;
}


.scene.nes .tri {
    clip-path: var(--shape-nes);
}

.tri:hover {
    transform: translate(var(--tx), var(--ty)) rotate(var(--r)) !important;
    opacity: 0.7 !important;
    transition-delay: 0s !important;
    transition: all 0.05s ease-in-out;
}

.scene.nes .hide {
    opacity: 0;
}

.name {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 15%;
    transition: all 1s ease-in-out;
}

.buttons {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 15%;
    gap: 1em;
}

.buttons button {
    font-size: 1em;
    font-family: inherit;
    width: 10em;
    padding: 1em 0;
}


.scene {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.signature {
    font-family: 'Mr Dafoe', cursive;
    font-size: 13em;
    color: #111;
    transform: rotate(-7deg) translate(-1vw, -8vh);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: all 0.8s ease-in-out;
}