body {
    margin: 0;
    height: 500vh;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    transition: all 1s ease-in-out;
}

.scene {
    max-width: 60vh;
    max-height: 60vh;
    margin: auto;
    position: fixed;
    inset: 0;
}

.tri {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: transparent;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
    transition: all 1s ease-in-out;
}

.scene.nes .tri {
    clip-path: var(--shape-nes);
}

.scene.nes .hide {
    opacity: 0;
}

.name {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 15%;
    transition: all 1s ease-in-out;
}

.buttons {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 15%;
    gap: 1em;
}

.buttons button {
    font-size: 1em;
    font-family: inherit;
    width: 10em;
    padding: 1em 0;
}

.signature {
    position: fixed;
    right: 35vw;
    bottom: 25vh;
    margin: auto;
    font-family: 'Mr Dafoe', cursive;
    font-size: 13em;
    color: #111;
    transform: rotate(-7deg);
    z-index: 10;
    opacity: 0.9;
    pointer-events: none;
    user-select: none;
}